@page "/AddStudent"
@rendermode InteractiveServer

@* using a shared component as the displayed title across this app  *@
<PageTitle> Add Student</PageTitle>
@using Registrar.Components.Shared
<RegistrarTitle> Add </RegistrarTitle> 

<EditForm class="form border border-1 bg-light p-5 mb-5"
            FormName="AddStudent"
          Model="Registrar" OnValidSubmit="HandleValidSubmit">
    <h3 class="mb-3 text-center">New Student</h3>

    <div class="form-field mb-3 text-center">
        <label class="form-label" for="firstName">First Name</label>
        <InputText class="form-control" @bind-Value="Registrar.FirstName" id="firstName" />
    </div>

    <div class="form-field mb-3 text-center">
        <label class="form-label" for="lastName">Last Name</label>
        <InputText class="form-control" @bind-Value="Registrar.LastName" id="lastName" />
    </div>

    <div class="form-group mb-3 text-center">
        <label for="studentType">Select Type</label>
        <InputSelect class="form-control" @bind-Value="Registrar.StudentType">
            <option value="Full Time">Full Time</option>
            <option value="Part Time">Part Time</option>
            <option value="Coop">Coop</option>
        </InputSelect>
    </div>

    <button class="btn btn-primary" type="submit" onclick="">Add Student</button>

    <div class="btn btn-secondary text-center m-0">
        <span><a class="text-light text-decoration-none" href="/">Cancel</a></span>
    </div>
</EditForm>

@code{
    private RegistrarModel Registrar = new RegistrarModel();

    private void HandleValidSubmit()
    {
        // Add logic to save the student data to the database
    }

    public class RegistrarModel
    {
        public string? FirstName { get; set; }
        public string? LastName { get; set; }
        public string? StudentType { get; set; }
    }
}
